@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4c7acd;
}

.bg-color {
  background-color: var(--main-color);
}

.color {
  color: var(--main-color);
}

.el-button {
  background-color: var(--el-button-bg-color);
}

.el-pagination {
  margin-top: 16px;
  justify-content: center;
}

.el-form--inline .el-form-item {
  margin-right: 16px;
}

.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}